@font-face {
  font-family: 'rastroicons';
  src:  url('./rastroicons.eot?qonehh');
  src:  url('./rastroicons.eot?qonehh#iefix') format('embedded-opentype'),
    url('./rastroicons.ttf?qonehh') format('truetype'),
    url('./rastroicons.woff?qonehh') format('woff'),
    url('./rastroicons.svg?qonehh#rastroicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rastroicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-3d:before {
  content: "\e900";
}
.icon-behance:before {
  content: "\e901";
}
.icon-google:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-youtube:before {
  content: "\e904";
}
