
@font-face {
  font-family: ActOfRejection;
  src: url('../fonts/ActOfRejection.ttf');
  font-weight: normal;
}

@font-face {
  font-family: OswaldBold;
  src: url('../fonts/OswaldBold.ttf');
  font-weight: normal;
}

@font-face {
  font-family: OswaldDemiBold;
  src: url('../fonts/OswaldDemiBold.ttf');
  font-weight: normal;
}

@font-face {
  font-family: OswaldExtraLight;
  src: url('../fonts/OswaldExtraLight.ttf');
  font-weight: normal;
}

@font-face {
  font-family: OswaldHeavy;
  src: url('../fonts/OswaldHeavy.ttf');
  font-weight: normal;
}

@font-face {
  font-family: OswaldLight;
  src: url('../fonts/OswaldLight.ttf');
  font-weight: normal;
}

@font-face {
  font-family: OswaldMedium;
  src: url('../fonts/OswaldMedium.ttf');
  font-weight: normal;
}

@font-face {
  font-family: OswaldRegular;
  src: url('../fonts/OswaldRegular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: OswaldStencil;
  src: url('../fonts/OswaldStencil.ttf');
  font-weight: normal;
}

@font-face {
  font-family: SprintSansBlack;
  src: url('../fonts/SprintSansBlack.otf');
  font-weight: normal;
}

@font-face {
  font-family: SprintSansBold;
  src: url('../fonts/SprintSansBold.otf');
  font-weight: normal;
}

@font-face {
  font-family: SprintSansLight;
  src: url('../fonts/SprintSansLight.otf');
  font-weight: normal;
}

@font-face {
  font-family: SprintSansMedium;
  src: url('../fonts/SprintSansMedium.otf');
  font-weight: normal;
}

@font-face {
  font-family: SprintSansRegular;
  src: url('../fonts/SprintSansRegular.otf');
  font-weight: normal;
}