.home-banner {
  padding-bottom: 3rem;
  padding-top: 2rem;

  @media (min-width: 992px) {
    padding-bottom: 2rem;
    padding-bottom: 0rem;
  }
}

.home-paso,
.home-adaptar,
.home-movimiento {
  padding: 4rem 15px;

  @media (min-width: 768px) {
    padding: 7rem 15px;
  }

  @media (min-width: 992px) {
    padding: 10rem 15px;
  }
}

.home-banner {
  &__content {
    padding-top: 90px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;

    &--text {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;

      .web__title,
      .web__subtitle {
        text-transform: uppercase;
        text-align: center;
      }

      .web__subtitle {
        margin-bottom: .5rem;
      }

      .web__title {
        line-height: .825em;
        margin-bottom: 1rem;

        span {
          color: var(--yellow);
        }
      }

      .web__text {
        max-width: 500px;
      }
    }

    &--text-mobile {
      .web__text {
        text-align: center;
      }
    }

    &--img {
      width: 100%;
    }

    @media (min-width: 768px) {
      padding-top: 100px;
      min-height: 100vh;
    }

    @media (min-width: 992px) {
      flex-direction: row;
      padding-top: $headerHeight;

      &--text {
        width: 40%;
        align-items: flex-start;

        .web__subtitle,
        .web__title {
          text-align: left;
        }
      }

      &--img {
        width: 60%;
      }
    }

    @media (min-width: 1200px) {
      .web__subtitle {
        font-size: 2rem;
      }
    }
  }
}

.home-paso {
  background-image: url(../assets/web/img/home/home-paso-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    color: #232323;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3.5rem;

    @media (min-width: 992px) {
      margin-bottom: 5rem;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

    &--text {
      width: 100%;
      margin-bottom: 2rem;

      .web__subtitle {
        color: #232323;
        text-transform: uppercase;
        margin-bottom: .75rem;
        text-align: center;
      }

      .web__text {
        color: #666666;
        text-align: center;
        max-width: 600px;
        margin: auto;
      }
    }

    &--img {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;

      img,
      video {
        max-height: 650px;
        max-width: 100%;
        width: auto;
        border-radius: 20px;
      }

      video{
        box-shadow: 2px 2px 7px rgba(0, 0, 0, .5);
      }

      @media (min-width: 992px) {
        justify-content: flex-end;
      }
    }

    &--options {
      .options-list {
        list-style: none;
        margin: 3rem 0;
        padding: 0;

        &__item {
          font-family: SprintSansMedium;
          font-size: 1.65rem;
          color: #232323;
          margin-bottom: 1.2rem;
          display: flex;
          align-items: center;
          cursor: pointer;
          position: relative;

          i {
            font-size: 48px;
            margin-right: 1.15rem;
            color: #232323;
          }

          .svg-2 {
            display: none;
          }

          &.active {
            color: var(--magenta);
            transition: .1s cubic-bezier(0.075, 0.82, 0.165, 1);

            i {
              font-size: 48px;
              margin-right: 1.15rem;
              color: #ffffff;
            }

            .svg-1 {
              z-index: 2;
              color: var(--cyan);
              animation: slideBlurRight .15s forwards;
            }

            .svg-2 {
              position: absolute;
              z-index: 1;
              left: 3px;
              display: block;
              color: #ff445a;
              filter: blur(1px);
              animation: slideBlurLeft .15s forwards;
            }
          }
        }
      }
    }

    &--title{
      color: var(--magenta);
      text-align: center;
    }

    &--options-mobile {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 1.25rem;

      .item-col {
        width: 25%;
        padding: 0 10px;
        max-width: 105px;

        &__item {
          cursor: pointer;
          display: flex;
          padding: .5rem;
          border: 2px solid #666666;
          border-radius: .4rem;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          i {
            font-size: 38px;
            color: #666666;
          }

          p {
            font-family: sprintSansMedium;
          }

          &.active {
            border-color: var(--magenta);
            background-color: rgba(255, 68, 90, .15);

            i {
              color: var(--magenta)
            }

            p {
              color: var(--magenta);
            }
          }
        }
      }
    }

    @media (min-width: 992px) {
      flex-direction: row;

      &--text {
        width: 40%;

        .web__subtitle {
          text-align: left;
        }

        .web__text {
          text-align: left;
        }
      }

      &--img {
        width: 60%;
        margin-bottom: 0rem;
      }
    }
  }

  @media (min-width: 400px){
    min-height: 170vh;
  }

  @media (min-width: 510px) {
    min-height: 160vh;
    background-image: url(../assets/web/img/home/home-paso.svg);
  }

  @media (min-width: 992px){
    min-height: 140vh;
  }
}

.home-adaptar {
  &__text {
    margin-bottom: 1.5rem;
    text-align: center;

    .web__subtitle {
      margin-bottom: .75rem;
      text-transform: uppercase;
    }

    .web__text {
      max-width: 700px;
      margin: auto;
    }
  }

  &__img {

    position: relative;
    display: flex;
    justify-content: center;

    img {
      max-width: 110%;
    }

    .img-laptop {
      position: absolute;
      z-index: 6;
    }

    .img-fondo {
      position: absolute;
      z-index: 5;
    }

    .img-background {
      max-width: 120%;
      min-height: 29vh;

      @media (min-width: 768px) {
        min-height: 40vh;
      }

      @media (min-width: 992px) {
        min-height: 51vh;
      }

      @media (min-width: 1200px) {
        min-height: 62vh;
      }

      @media (min-width: 1600px) {
        min-height: 80vh;
      }
    }
  }

  @media (min-width: 992px) {
    &__text {
      margin-bottom: 2rem;
    }
  }
}

.home-movimiento {
  background-image: url(../assets/web/img/home/fondo-movimiento.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 160vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__content {
    &--text {
      margin-bottom: 2.5rem;
      text-align: center;

      .web__subtitle {
        margin-bottom: .75rem;
        text-transform: uppercase;
        color: #232323;
      }

      .web__text {
        max-width: 700px;
        margin: auto;
        color: #666666;
      }
    }

    &--items {
      .web__text {
        color: #232323;
        font-family: SprintSansMedium;
        text-align: center;
        margin-bottom: 3rem;
        font-size: 1.75rem;
      }

      .movimiento-items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: -1.5rem;
        margin-right: -1.5rem;

        &__item {
          width: 50%;
          padding: 0 1.5rem;
          margin-bottom: 2.5rem;


          &--img {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;

            img {
              max-width: 100%;
            }
          }

          .web__text {
            margin-bottom: 0;
            font-size: 1rem;
          }
        }

        @media (min-width: 576px) {

          &__item {
            .web__text {
              font-size: 1.2rem;
            }
          }

        }

        @media (min-width: 768px) {
          &__item {
            width: 25%;

            .web__text {
              font-size: 1rem;
            }
          }
        }

        @media (min-width: 992px) {
          margin-left: -2.5rem;
          margin-right: -2.5rem;

          &__item {
            padding: 0 2.5rem;

            .web__text {
              font-size: 1.2rem;
            }
          }
        }

        @media (min-width: 1200px) {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }

  @media (min-width: 480px){
    min-height: 130vh;
  }

  @media (min-width: 768px){
    min-height: 110vh;
  }
}

.home-footer-content {
  background-image: url(../assets/web/img/fondo-footer-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 768px) {
    background-image: url(../assets/web/img/fondo-footer.svg);
  }
}

.steps-home {
  width: 20px;
  position: fixed;
  left: 10px;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;

  &__steps {
    &--point {
      width: 9px;
      height: 9px;
      background: rgba(16, 254, 204, .2);
      border-radius: 50px;
      transition: .15s ease-in-out;
      cursor: pointer;
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }

      &.active {
        transform: scale(1.4);
        background: var(--cyan);
      }
    }
  }
}

.stepsImages {
  display: flex;
  justify-content: center;

  &__steps {
    display: flex;

    &--point {
      width: 9px;
      height: 9px;
      background: rgba(125, 254, 122, .2);
      border-radius: 50px;
      transition: .15s ease-in-out;
      cursor: pointer;
      margin-right: 1em;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        transform: scale(1.4);
        background: var(--green);
      }
    }
  }
}