.home-banner{
  padding-bottom: 2rem;
}

.home-paso,
.home-adaptar,
.home-movimiento{
  padding: 6rem 15px;
}

.home-banner {
  &__content {
    padding-top: 90px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;

    &--text {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;

      .web__title,
      .web__subtitle {
        text-transform: uppercase;
        text-align: center;
      }

      .web__subtitle{
        margin-bottom: .5rem;
      }

      .web__title {
        line-height: .825em;
        margin-bottom: 1rem;
        span{
          color: var(--yellow);
        }
      }

      .web__text{
        max-width: 500px;
      }
    }

    &--text-mobile{
      .web__text{
        text-align: center;
      }
    }

    &--img {
      width: 100%;
    }

    @media (min-width: 768px){
      padding-top: 100px;
      min-height: 100vh;
    }

    @media (min-width: 992px) {
      flex-direction: row;
      padding-top: $headerHeight;

      &--text {
        width: 40%;
        align-items: flex-start;

        .web__subtitle,
        .web__title{
          text-align: left;
        }
      }
  
      &--img {
        width: 60%;
      }
    }

    @media (min-width: 1200px){
      .web__subtitle{
        font-size: 2rem;
      }
    }
  }
}

.home-paso{
  background-image: url(../assets/web/img/home/home-paso.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title{
    font-size: 3rem !important;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5rem !important;
  }

  &__content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &--text{
      width: 40%;
      .web__subtitle{
        text-transform: uppercase;
        margin-bottom: .75rem;
      }
    }

    &--img{
      width: 60%;
      display: flex;
      justify-content: center;

      img{
        max-height: 500px;
        max-width: 100%;
        width: auto;
      }
    }

    &--options{
      .options-list{
        list-style: none;
        margin: 3rem 0;
        padding: 0;

        &__item{
          font-family: SprintSansMedium;
          font-size: 1.65rem;
          color: #ffffff;
          margin-bottom: 1rem;
          display: flex;
          align-items: center;

          svg{
            width: 50px;
            margin-right: .75rem;
          }

          .st0{
            fill:#10FECC;
          }
        }
      }
    }
  }
}

.home-adaptar{
  &__text{
    text-align: center;

    .web__subtitle{
      margin-bottom: .75rem;
      text-transform: uppercase;
    }

    .web__text{
      max-width: 700px;
      margin: auto;
    }
  }

  &__img{

    position: relative;
    display: flex;
    justify-content: center;

    img{
      max-width: 100%;
    }

    .img-laptop{
      position: absolute;
    }
  }
}

.home-movimiento{
  background-image: url(../assets/web/img/home/fondo-movimiento.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__content{
    &--text{
      margin-bottom: 2rem;
      text-align: center;
  
      .web__subtitle{
        margin-bottom: .75rem;
        text-transform: uppercase;
      }
  
      .web__text{
        max-width: 700px;
        margin: auto;
      }
    }

    &--items{
      .web__text{
        color: #fff;
        font-family: SprintSansMedium;
        text-align: center;
        margin-bottom: 3rem;
        font-size: 1.75rem;
      }

      .movimiento-items{
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &__item{
          width: 25%;
          padding: 0 2.5rem;
          margin-bottom: 1.5rem;
          

          &--img{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;

            img{
              max-width: 100%;
            }

            svg{
              width: 35%;
              position: absolute;
            }
          }

          .web__text{
            margin-bottom: 0;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

.home-footer-content{
  background-image: url(../assets/web/img/home/fondo-home-footer.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10rem;
}

.steps-home {
  width: 20px;
  position: fixed;
  left: 10px;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;

  &__steps {
    &--point {
      width: 9px;
      height: 9px;
      background: rgba(16, 254, 204, .2);
      border-radius: 50px;
      transition: .15s ease-in-out;
      cursor: pointer;
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }

      &.active {
        transform: scale(1.4);
        background: var(--cyan);
      }
    }
  }
}