.portfolio-footer-content {
  background-image: url(../assets/web/img/home/fondo-home-footer.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}