.portfolio-header {
  padding-top: 60px;
  background-image: url(../assets/web/img/fondo-portfolio.svg);
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    padding-top: 80px;
  }

  &__options {

    .v-tab {
      font-size: .75rem !important;

      @media (min-width: 992px) {
        font-size: .85rem !important;
      }
    }

    .theme--light.v-tabs>.v-tabs-bar {
      background: transparent !important;
      background-color: transparent !important;
      border-radius: 4px;
    }

    .v-tabs.color-arrows {

      .v-icon,
      .v-icon.v-icon--disabled {
        color: var(--yellow) !important;
      }

      .v-icon.v-icon--disabled {
        opacity: .25;
      }

      .v-slide-group__next,
      .v-slide-group__prev {
        min-width: 32px !important;
      }

    }

    .v-tabs-bar {
      margin-bottom: 1rem;
    }

    .v-tabs-items {
      background-color: transparent !important;
    }

    .v-tabs-bar__content {
      justify-content: center;

      &::after {
        content: '';
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--yellow);
        opacity: .25;
      }
    }

    .v-tabs-bar .v-tab:not(.v-tab--active) {
      color: #fff !important;
    }

    &--img {
      cursor: pointer;
      border-radius: 4px !important;
    }
  }
}

.portfolio-footer-content {
  background-image: url(../assets/web/img/fondo-footer-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 768px) {
    background-image: url(../assets/web/img/fondo-footer.svg);
  }
}

.portfolio-reel {
  margin-top: 1.5rem;
  margin-bottom: 3rem;

  @media (min-width: 992px) {
    margin-bottom: 4rem;
  }

  video {
    max-width: 100%;
    outline: none;
    border-radius: 4px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .55);
  }

  .reel{
    font-family: OswaldBold;
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;

    @media (min-width: 576px){
      font-size: 2rem;
    }

    @media (min-width: 768px){
      font-size: 3rem;
    }
  }
}