@import './colors.scss';
@import './animations.scss';
@import './fonts.scss';

// Common layout
* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: 'SprintSansRegular';
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: var(--black);
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--black);
  overflow-x: hidden;
}

p,
h1,
h2,
h3 {
  margin: 0;
  color: #fff;
}

.container--fullScreen .container{
  padding-left: 0;
  padding-right: 0;
}

.web__title {
  color: #fff;
  font-size: 2.3rem;
  font-family: 'OswaldHeavy';
}

.web__subtitle {
  color: #fff;
  font-size: 1.5rem;
  font-family: 'SprintSansBold';
}

.web__text,
p {
  font-family: 'SprintSansRegular';
  color: var(--light-grey);
  font-size: .85rem;

  &.strong{
    font-size: .95rem;
    font-weight: 700;
    color: #fff
  }
}

@media (min-width: 400px){
  .web__text,
  p{
    font-size: 1rem;

    &.strong{
      font-size: 1.05rem;
    }
  }
}

@media (min-width: 768px) {
  .web__title {
    font-size: 3rem     
  }

  .web__subtitle {
    font-size: 1.65rem;
  }

  .web__text {
    font-size: 1.2rem;

    &.strong{
      font-size: 1.3rem;
    }
  }
}

@media (min-width: 992px) {
  .web__title {
    font-size: 4rem     
  }

  .web__subtitle {
    font-size: 2rem;
  }

  .web__text {
    font-size: 1.25rem;

    &.strong{
      font-size: 1.35rem;
    } 
  }
}

@media (min-width: 1200px) {
  .web__title {
    font-size: 6rem     
  }

  .web__subtitle {
    font-size: 2.15rem;
  }

  .web__text {
    font-size: 1.3rem;

    &.strong{
      font-size: 1.4rem;
    } 
  }
}

.web__button{
  color: var(--cyan);
  border: 4px solid var(--cyan);
  padding: .4rem 3rem;
  font-size: 1.5rem;
  border-radius: 50px;
  text-decoration: none;
  transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover{
    color: var(--black);
    background-color: var(--cyan);
  }
}

.text-center {
  text-align: center !important;
}

.text {
  &--white {
    color: #fff;
  }

  &--gray {
    color: var(--light-grey);
  }

  &--yellow {
    color: var(--yellow);
  }

  &--green {
    color: var(--green);
  }

  &--cyan {
    color: var(--cyan);
  }

  &--magenta {
    color: var(--magenta);
  }
}

.img-responsive {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.align-center {
  align-items: center !important;
}

.justify-center {
  justify-content: center !important;
}

.d-flex {
  display: flex !important;
}