// Help docs - helpers
@import 'config/colors';
@import 'config/maps';
@import 'config/mixins';
@import 'config/functions';
@import 'prism';
// Sizes variables
$headerHeight: 70px;
// Common layout
* {
    box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
  font-family: 'Roboto';
}